<%- include('./layout/header', {title:'Start Here'}); %>
<div id="application" class="fullHeight">
    <h2>index page is in</h2>
    <a href="http://localhost:3001/">
        <h1>React App Server.</h1>
        http://localhost:3001/
    </a>
</div>
<%- include('./layout/footer'); %>
